* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#spacer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border: purple solid 1px;
  justify-content: center;
  align-items: center;
}

#testCanvas {
  width: 400px;
}

as-deck {
  height: 30%;
}

as-card {
  width: 60px;
}

#cardInput {
  width: 50px;
}
